* {
    margin: 0;
    padding: 0;
    font-family: raleway;
}
header {
    background-color: rgb(155, 187, 155);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    flex: 1 1 100%;
}
header span {
    font-size: 30px;
    margin: 2rem;
}
nav {
    background-color: black;
}
#hamburger::before {
    content: "≡";
}
#hamburger {
    color: black;
    font-size: xx-large;
}
a{
    text-decoration: none;
    color: white;
}